@define-color white #ffffff;
@define-color bg-pink #e98381;
@define-color bg-cream #e2b799;
@define-color bg-black #10100f;

* {
    font-family: "GohuFont uni14 Nerd Font Propo", propo;
}

window {
    background-color: transparent;
}

#outer-box {
    margin: 6px;
    padding: 10px;
    background-color: alpha(@bg-black, 0.35);
    border: 1px solid @bg-cream;
    border-radius: 18px;
}

#input {
    margin: 5px;
    padding: 6px;
    background-color: transparent;
    color: @white;

    border: none;
    outline: none;
    box-shadow: none;
}

/* GTK entry focus ring override */
#input:focus,
entry:focus {
    color: white;
    outline: none;
    border: none;
    box-shadow: none;
    background-color: transparent;

    /* kills GTK focus ring */
    -gtk-outline-radius: 0;
}

#inner-box {
    background-color: transparent;
}

#scroll {
    margin: 0px;
}

#text {
    padding: 6px;
    color: @white;
}

#entry {
    padding: 4px;
}

#entry:selected {
    background-color: alpha(@bg-pink, 0.55);
    border-radius: 18px;
    border: none;
    outline: none;
    color: @white;
}
